<div class="nested-fields">
  <div class="form-row">
    <div class="field form-group col">
      <% f.label :food_id %>
      <%= f.select(:food_id, @foods.pluck(:name, :id), {prompt: ""}, class: "flexselect form-control valid-field"  ,placeholder: "を入力してください" ) %>
      <div class="invalid-feedback">選択して下さい</div>
    </div>
    <div class="field form-group col">
      <% f.label :amount %>
      <%= f.text_field :amount, placeholder: "分量を入力", class: "form-control valid-field" %>
      <div class="invalid-feedback">入力して下さい</div>
    </div>
    <%= link_to_remove_association '<i class="far fa-edit"></i> 食材削除'.html_safe, f , {class:"cocoon_deleate form-group col btn btn-danger"}%>
    <%# <i class="fas fa-trash-alt"></i>  <span class="d-none d-md-inline"> 削除</span> %>
    <%# '<i class="far fa-edit"></i> 食材削除'.html_safe %>
  </div>
</div>
