<div class="nested-fields">
  <div class="form-row">
    <div class="field form-group col">
      <% f.label :food_id %>
      <%= f.select(:food_id, @foods.pluck(:name, :id), {prompt: ""}, class: "flexselect form-control valid-field"  ,placeholder: "を入力してください" ) %>
      <div class="invalid-feedback">選択して下さい</div>
    </div>
    <div class="field form-group col">
      <% f.label :amount %>
      <%= f.number_field :amount,step: '0.01', placeholder: "分量を入力", class: "form-control valid-field" %>
      <div class="invalid-feedback">入力して下さい</div>
    </div>
    <div class="cocoon__deleate col">
      <%= link_to_remove_association '<i class="fas fa-trash-alt"></i> 食材削除'.html_safe, f , {class:"cocoon__deleate__link form-group col btn btn-danger"}%>
    </div>
  </div>
</div>
