/*
*= require_tree .
*= require_self
*/

@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";

@import "@fortawesome/fontawesome-free/scss/brands";

@import "./flexselect";
 // ログイン画面

.container-login {
  @extend .container-fluid;
max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
.alert-fanger {
  padding: 0px;
  margin: 0 20px;
}

.nav{
  .pagination {
    margin: auto;
    span {
      a {
        display: inline-block;
        padding: 0px 8px;
        border: solid 3px ;
        border-radius: 15px;
      }
    }
    .page.current{
      display: inline-block;
      padding: 0px 8px;
      border: solid 3px tomato;
      background-color: tomato;
      color: antiquewhite;
      border-radius: 15px;

    }
  }
}



