/*
*= require_tree .
*= require_self
*/

@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";

@import "@fortawesome/fontawesome-free/scss/brands";

@import "./flexselect";
 // ログイン画面

.container-login {
  @extend .container-fluid;
max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
.alert-fanger {
  padding: 0px;
  margin: 0 20px;
}

.nav{
  .pagination {
    margin: auto;
    span {
      a {
        display: inline-block;
        padding: 0px 8px;
        border: solid 3px ;
        border-radius: 15px;
      }
    }
    .page.current{
      display: inline-block;
      padding: 0px 8px;
      border: solid 3px tomato;
      background-color: tomato;
      color: antiquewhite;
      border-radius: 15px;
      
    }
  }
}



.header {
  padding: 0px;
  &__menu {
    background-color: #7abaff;
    width: 100%;
    border-radius: 5px;
    border: 0.5px gainsboro groove;
    color: #ffffff;
    &__ul {
      text-align: center;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      a {
        border-radius: 5px;
        text-decoration: none;
        color: #ffffff;
        transition: 0.1s ;
      }
      a:hover {
        color: #ffffff; background: dodgerblue;
      }
      svg {
        font-size: 20px;
        margin: auto;
        margin-right: 2px;

      }
      &__home{
        display: inline-block;
        width: 25%;
        text-decoration: none;
      }
      &__rank{
        display: inline-block;
        width: 25%;
      }
      &__user{
        display: inline-block;
        width: 25%;
      }
      &__brand{
        display: inline-block;
        width: 25%;
      }
      &__shop{
        display: inline-block;
        width: 25%;
      }
      &__food{
        display: inline-block;
        width: 25%;
      }
      &__recipe{
        display: inline-block;
        width: 25%;
      }
      &__report{
        display: inline-block;
        width: 25%;
      }
    }
  }
}
