.cocoon__deleate{
  margin: 0px;
  border-color: #ffffff;
  .btn-danger {
    border-color: #ffffff;
    margin: 0px;
    color: #ffffff;
    background:rgba(250,0,0,0.1);
  }
  .btn-danger hover{
    background-color: lightpink;
    border-color: lightpink;
  }
}