<% if object.errors.any?%>
  <% object.errors.full_messages.each do |msg|%>
    <div class="alert alert-fanger" role ="alert">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg %>
    </div>
  <% end %>
<% end %>